
DevEdu/DevEdu/obj/project.assets.json
DevEdu/DevEdu/obj/DevEdu.csproj.nuget.g.props
DevEdu/DevEdu/obj/DevEdu.csproj.nuget.dgspec.json
DevEdu/DevEdu/obj/DevEdu.csproj.nuget.cache
DevEdu/DevEdu/obj/Debug/netcoreapp3.1/DevEdu.csprojAssemblyReference.cache
DevEdu/DevEdu/obj/Debug/netcoreapp3.1/DevEdu.assets.cache
DevEdu/DevEdu.Data/obj/project.assets.json
DevEdu/DevEdu.Data/obj/DevEdu.Data.csproj.nuget.g.props
DevEdu/DevEdu.Data/obj/DevEdu.Data.csproj.nuget.dgspec.json
DevEdu/DevEdu.Data/obj/DevEdu.Data.csproj.nuget.cache
DevEdu/DevEdu.Data/obj/Debug/netcoreapp3.1/DevEdu.Data.csprojAssemblyReference.cache
DevEdu/DevEdu.Data/obj/Debug/netcoreapp3.1/DevEdu.Data.assets.cache
DevEdu/.vs/DevEdu/v16/Server/sqlite3/storage.ide-wal
DevEdu/.vs/DevEdu/v16/Server/sqlite3/storage.ide-shm
*.ide-shm
*.cache
*.props
*.json
DevEdu/.vs/DevEdu/v16/.suo
*.cache
*.json
*.ide-wal
*.props
